﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospital Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Patient-specific styles */
        .patient-sidebar {
            background-color: #3498db;
            padding: 0;
            min-height: calc(100vh - 50px);
        }
        
        .patient-sidebar .nav > li > a {
            color: #ecf0f1;
            padding: 15px;
        }
        
        .patient-sidebar .nav > li > a:hover,
        .patient-sidebar .nav > li > a:focus,
        .patient-sidebar .nav > li.active > a {
            color: #fff;
            background-color: #2980b9;
        }
        
        .patient-sidebar .nav > li > a > i {
            margin-right: 10px;
        }
        
        .patient-content {
            padding: 20px;
        }
        
        .huge {
            font-size: 40px;
        }
        
        .patient-dashboard .panel-heading {
            min-height: 100px;
        }
        
        .patient-dashboard .panel-heading i {
            font-size: 40px;
        }
        
        .patient-dashboard .panel-footer {
            color: #333;
        }
        
        .patient-dashboard .panel-footer:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #3498db; border-color: #2980b9;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hospital Management System", "Index", "PatientDashboard", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i> @User.Identity.Name <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Manage")"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-log-out"></i> Log off</a>
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 patient-sidebar">
                <ul class="nav nav-sidebar">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "PatientDashboard" ? "active" : "")">
                        <a href="@Url.Action("Index", "PatientDashboard")"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "MyAppointments" ? "active" : "")">
                        <a href="@Url.Action("MyAppointments", "PatientDashboard")"><i class="glyphicon glyphicon-calendar"></i> My Appointments</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "MyPrescriptions" ? "active" : "")">
                        <a href="@Url.Action("MyPrescriptions", "PatientDashboard")"><i class="glyphicon glyphicon-file"></i> My Prescriptions</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "MyInvoices" ? "active" : "")">
                        <a href="@Url.Action("MyInvoices", "PatientDashboard")"><i class="glyphicon glyphicon-usd"></i> My Invoices</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Back to Main Site</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 patient-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <hr />
        <p>&copy; @DateTime.Now.Year - Hospital Management System</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
