@using project_hospital_management_system.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use your account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <p>
                            Don't have an account? @Html.ActionLink("Register now", "Register")
                        </p>
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="loginInfo">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Test Accounts</h4>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">Admin</h4>
                            <p class="list-group-item-text">Email: admin@gmail.com</p>
                            <p class="list-group-item-text">Password: Admin12345678</p>
                        </div>
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">Doctor</h4>
                            <p class="list-group-item-text">Email: doctor@hospital.com</p>
                            <p class="list-group-item-text">Password: Doctor12345678</p>
                        </div>
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">Patient</h4>
                            <p class="list-group-item-text">Email: patient@hospital.com</p>
                            <p class="list-group-item-text">Password: Patient12345678</p>
                        </div>
                    </div>
                    <div class="alert alert-warning">
                        <small>These are test accounts for demonstration purposes only. In a production environment, this information would not be displayed.</small>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}